html {
    background-color: #f1f1f1;
}
.container-width,
.full-width .ubermenu-nav,
.container {
    max-width: 1350px;
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1350px !important;
    }
}
body {
    max-width: 1450px !important;
    margin: auto;
}
#wrapper {
    position: relative;
}
#header {
    background: #202122;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.flex-right {
    margin-left: auto;
}
.navbar li:first-child {
    margin-left: 0 !important;
}
.navbar li:last-child {
    margin-right: 0 !important;
}
.navbar {
    margin-bottom: 0;
}
.navbar li {
    list-style: none;
    margin: 0 15px;
}
.navbar li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}
.navbar li a:hover {
    color: #e96324;
}
.lang {
    text-align: right;
}
#footer {
    position: relative;
    background: linear-gradient(to right, #e96324 50%, #202122 50%, #202122 50%);
}
.footer-main {
    display: flex;
    color: #fff;
    padding: 70px 0;
}
.footer-left {
    padding: auto;
    width: 50%;
    display: flex;
}
.footer-right {
    width: 50%;
    float: right;
    display: flex;
}
.content-right {
    padding: 0 40px;
}
.content-right h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.text-content p {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 20px;
    display: flex;
}
.text-content i {
    margin: 5px 10px 0 0;
}
/* banner*/
.relative {
    position: relative;
}
.box-banner-img {
    position: absolute;
    top: 0;
    height: 100%;
}
.box-banner-img img {
    height: 100%;
}
.header-transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999999;
    background: transparent !important;
}
.content-banner {
    text-align: right;
    top: 45%;
    width: 100%;
    right: unset;
    left: unset;
    bottom: unset;
}
.content-banner p {
    text-align: right;
    font-size: 32px;
    font-weight: 300;
}
.bg-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgb(0 0 0 / 40%);
}
.banner-button a {
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    padding: 15px 25px;
    background: #e96324;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
    display: block;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
}
.glyphicon {
    width: 130px !important;
    top: 40% !important;
}
.glyphicon-chevron-left:before {
    content: "\2190 PREV" !important;
    font-size: 24px;
}
.glyphicon-chevron-right:before {
    content: "NEXT\2192" !important;
    font-size: 24px;
}
.carousel-control.right {
    right: auto;
    left: 20%;
    background: none;
    z-index: 9999;
}
.carousel-control.left {
    right: auto;
    left: 4%;
    background: none;
    z-index: 9999;
}
.section-tongquan {
    position: relative;
    padding-bottom: 70px;
}
.section-tongquan {
    background: url(../image/layout-trangchu1.png);
    background-repeat: no-repeat;
    position: relative;
    padding: 30px 0;
    height: 1230px;
    background-size: contain;
}

.banner-overlay img {
    width: 100%;
}
.ss-thongtin-icon {
    text-align: center;
}
.tongquan-img img {
    width: 100%;
    padding: 0 0 0 30px;
}
.tq-except {
    min-height: 48px;
}
.ss-anh {
    text-align: right;
    z-index: 0;
    padding-bottom: 90px;
}
.section-thongtin {
    padding: 70px 0;
    background: #e96324;
    position: relative;
}
.ss-thongtin-anh img {
    width: 100%;
}
.ss-thongtin-icon i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 80px;
    margin-top: 80px;
}
.section-thongtin .row {
    padding-bottom: 50px;
}
.thongtin-except {
    margin-top: 15px;
}
.section-chinhsach {
    padding: 70px 0;
    background: #fff;
    position: relative;
}
.cs-box-image {
    position: relative;
}
.cs-box-image img {
    width: 100%;
}
.cs-box-text {
    position: absolute;
    top: 45%;
    padding: 15px 30px;
    color: #fff;
}
.cs-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 25px;
    background: #e96324;
}
.cs-button a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.chinhsach-gt {
    padding-right: 30px;
}
.box-collapse {
    padding: 0 !important;
}
.hd-box-image {
    position: relative;
}
.hd-box-image img {
    width: 100%;
}
.hd-box-text {
    position: absolute;
    bottom: 10%;
    padding: 15px 30px;
    color: #fff;
}
.button-white {
    background: #fff;
    color: #e96324;
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 30px;
    display: block;
    max-width: 230px;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
}
.section-home-hoatdong {
    background: url(../image/bgr-home-hoatdong.png);
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
    background-size: cover;
}

.section-profile {
    padding: 70px 0;
}
.section-profile {
    background: url(../image/Rectangle\ 47.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    position: relative;
}

.section-profile .img-profile img {
    width: 80%;
}
.section-gt-kcn {
    background: url(../image/bgr-gt.png);
    background-repeat: no-repeat;
    position: relative;
    padding: 30px 0 0 0;
    height: 1770px;
    background-size: cover;
}
.section-gt-kcn .section-content {
}
.section-gt-gallery {
    background: url(../image/Rectangle\ 70.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    position: relative;
    padding-bottom: 70px;
}
.section-nguoncung {
    background: url(../image/Rectangle\ 71.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    position: relative;
    padding: 70px 0;
}
.section-gt-gallery .section-bg-overlay {
    background-color: rgb(0 0 0 / 88%);
}
.section-dongluc {
    background: url(../image/diatheduan-image.png);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    position: relative;
}
.box-img-nguoncung {
    padding-left: 30px;
}
.gt-content {
    padding-right: 30px;
}
.gt-tongvon {
    width: 70%;
    margin: auto;
    border: solid 3px #fff;
    padding: 15px;
}
.gallery--content-left {
    padding-right: 50px;
    padding-bottom: 30px;
}
.gallery--content-right {
    padding-left: 50px;
    padding-bottom: 30px;
}
.border-right {
    border-right: solid #d9d9d9 2px;
}
.box-thumb-image {
    display: flex;
}
.thumb-image {
    margin-bottom: 5px;
}
.thumb-image:not(:last-child) {
    margin-right: 5px;
}
.pad-right-30 {
    padding-right: 30px;
}
.pad-left-30 {
    padding-left: 30px;
}
.title-except {
    width: 80%;
    margin: auto;
}
.list-company {
    display: flex;
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 3px #fff;
}
.list-company .text-address:first-child {
    padding-left: 0 !important;
}
.list-company .text-address:last-child {
    padding-right: 0 !important;
}
.text-address {
    padding: 0 15px;
}
.fill-max {
    height: 120% !important;
}
/* image */
.width-100 {
    width: 100%;
}
/* background */
.section-p50 {
    padding: 50px 0;
}
.section-p50 {
    padding: 50px 0;
}
.section-bg {
    width: 100%;
}
.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}
.bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
/* line */
.divider {
    margin-top: 1em;
    margin-bottom: 1em;
    height: 5px;
    background-color: #e96324;
}
.dv-short {
    width: 95px;
}
.dv-long {
    width: 250px;
}
.gap-70 {
    padding-top: 70px;
}
.gap-50 {
    padding-top: 50px;
}
.gap-30 {
    padding-top: 30px;
}
.gap-15 {
    padding-top: 15px;
}
.image--full {
    width: 100%;
}

.row {
    margin-left: auto;
    margin-right: auto;
}
.clear-fix {
    clear: both;
}
.uppercase {
    text-transform: uppercase;
}
/* vi tri */
.align-middle {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
    vertical-align: middle !important;
}
.justify {
    text-align: justify;
}
.row-center {
    justify-content: center;
}
/* color */
.color--orange {
    color: #e96324;
}
.color--white {
    color: #ffffff;
}

.color--black {
    color: #202122;
}
.color--gray {
    color: #ababab;
}

/* font */
.font-bold {
    font-weight: 600 !important;
}

/* text */
.content__title {
    margin-bottom: 70px;
    text-align: center;
}
.content__text {
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
}
.content__text--medium {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}
.content__text--xmedium {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.content__text--small {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.content__text--large {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
}
.content__text--xlarge {
    font-size: 36px;
    font-weight: 500;
    line-height: 34px;
}
.content__text--xxlarge {
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
}
/* Gap */

.gap-30 {
    padding-top: 30px;
}
.gap-15 {
    padding-top: 15px;
}

.content__image {
    padding-right: 30px;
    padding-top: 30px;
}

.content__image--right {
    position: relative;
}

.content__image--right::after {
    display: block;
    content: "";
    width: 100px;
    height: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
    border-top: 5px solid #e96324;
    border-right: 5px solid #e96324;
}

.content__image--bottom-right {
    position: relative;
}

.content__image--bottom-right::after {
    display: block;
    content: "";
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    right: -25px;
    border-bottom: 5px solid #e96324;
    border-right: 5px solid #e96324;
}

.xd__image {
    width: 100%;
}

.content__image--left {
    position: relative;
}

.section-cdt {
    padding-bottom: 46px;
    background-color: #202122;
}
.content__image--left::after {
    display: block;
    content: "";
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    left: 0px;
    border-bottom: 5px solid #e96324;
    border-left: 5px solid #e96324;
}

.cdt-xd-text {
    min-height: 110px;
}

.cdt-xd--left {
    padding-right: 52px;
    border-right: 1px solid #c2c2c2;
    padding-bottom: 20px;
}

.cdt-xd--right {
    padding-left: 52px;
    padding-bottom: 20px;
}

.section-lvkd {
    padding-bottom: 46px;
}

.section-lvkd a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 8px;
}

.lvkd-box {
    min-height: 150px;
}

.lvkd-title {
    font-weight: 600;
    margin-bottom: 0;
}

.cdt-linhvuc-text {
    min-height: 120px;
}

/* Start ChinhSac */
.section-cs-banner,
.section-lvkd {
    position: relative;
}
.section-cs-banner .title-bg {
    background-image: url(../image/cs-bg.png);
}
.section-lvkd .title-bg {
    background-image: url(../image/cdt-bg.png);
}
.section-cs-banner .bg-fill,
.section-lvkd .bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.section-cs-banner .fill,
.section-lvkd .fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
}
.section-content {
    min-height: 300px;
    position: relative;
}
.title-overlay {
    background-color: rgb(167 53 0 / 87%);
    opacity: 0.9;
}
.section-cs-2 {
    min-height: 823px;
    background-color: #202122;
}
.section-cs-2 a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 8px;
}

.cs-box {
    margin-top: -80px;
}
.cs-box__image {
    width: 100%;
}
.cs-box__content {
    padding: 25px;
    background-color: #ffffff;
    min-height: 310px;
}

.cs-box__content a {
    color: #e96324;
    font-weight: bold;
    text-decoration: none;
    margin-left: 8px;
}
/* End ChinhSach */
/* Start TinTuc */
.section-tt-hd {
    background: url(../image/tt-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    position: relative;
}

.tt-box {
    padding: 50px 0;
    border-bottom: 1px solid #525353;
}

.tt-box--left {
    padding-right: 50px;
}

.tt-box--right img {
    width: 100%;
}

.tt-button {
    height: 40px;
    width: 134px;
    background-color: #e96324;
    margin-top: 30px;
    cursor: pointer;
}

.tt-button span {
    margin-right: 10px;
}

.tt-pagination {
    padding: 10px;
}
.tt-pagination ul {
    text-align: right;
}
.tt-pagination ul.links {
    margin: 0;
    font-size: 0.85em;
}

.tt-pagination ul.links li:first-child {
    margin-left: 0;
}

.tt-pagination ul.links li {
    margin: 0 0.4em;
    display: inline-block;
}
.page-number {
    font-size: 1.1em;
    display: block;
    height: 2.25em;
    line-height: 2em;
    text-align: center;
    width: auto;
    min-width: 2.25em;
    padding: 0 7px;
    font-weight: bolder;
    border-radius: 99px;
    border: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: top;
    color: #fff;
    background-color: #e96324;
    text-decoration: none;
}

.page-number:hover {
    color: #e96324;
    background-color: #fff;
}
.page-number--active {
    color: #e96324;
    background-color: #fff;
}

.section-hh-sk {
    background-color: #202122;
}

.hd-sk-box {
    padding-bottom: 40px;
    padding-top: 40px;
}
/* End TinTuc */

/* Start Liên Hệ */
.lh-text-box {
    text-align: center;
    font-size: 28px;
    line-height: 20px;
    margin-top: 72px;
}

.lh-text-box-up {
    font-weight: bold;
}

.lh-text-box-down {
    color: #e96324;
}

.lh-information {
    text-align: center;
    margin-top: 72px;
}

.lh-information-input {
    width: 528px;
    height: 55px;
    border: 1px solid #c2c2c2;
    background: #f5f5f5;
}

.lh-information-input-comment {
    width: 528px;
    height: 220px;
    border: 1px solid #c2c2c2;
    background: #f5f5f5;
}

.lh-information-item {
    margin-top: 20px;
}

::placeholder {
    color: #c2c2c2;
    padding-left: 22px;
}

.lh-information-icon {
    margin-right: 26px;
    font-size: 25px;
}

.lh-information-icon-user {
    margin-right: 27px;
    font-size: 25px;
}

.lh-send {
    text-align: center;
    margin-top: 20px;
}

.lh-send-button {
    text-align: center;
    border: none;
    background-color: #e96324;
    color: #ffffff;
    width: 528px;
    height: 61px;
    margin-left: 55px;
    font-size: 20px;
}

.section-atan {
    padding-bottom: 46px;
    background-color: #ffffff;
}

.section-httm {
    padding-bottom: 46px;
    background-color: #e96324;
}

.text-httm-title {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.text-httm-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.section-lienhe .section-bg {
    background-image: url("../image/rectangle-lienhe.png");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    height: 85px;
    position: relative;
}

.section-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 0;
    margin: 0;
}

.section-kcn {
    padding-bottom: 46px;
    background-color: #202122;
}

.text-atan-title {
    color: #e96324;
    font-weight: bold;
    font-size: 20px;
}

.img-atan-1 {
    width: 100%;
}

.img-httm-2 {
    width: 100%;
    min-height: 245px;
    object-fit: cover;
}

.number-custom {
    z-index: 99999;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 30px;
    text-align: center;
    height: 30px;
    background-color: #e96324bd;
    border-radius: 100px;
    line-height: 30px;
}

.img-httm img:first-child {
    padding-bottom: 12px;
    padding-right: 12px;
}

.img-httm img:nth-child(2) {
    padding-bottom: 12px;
    padding-right: 12px;
}

.img-atan img:first-child {
    padding-bottom: 12px;
    padding-right: 12px;
}

.img-atan img:last-child {
    padding-bottom: 12px;
    padding-right: 12px;
}

.img-main-atan::after {
    display: block;
    content: "";
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: -10px;
    right: -20px;
    border-bottom: 5px solid #e96324;
    border-right: 5px solid #e96324;
}

.img-main-atan-last::after {
    display: block;
    content: "";
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: -10px;
    left: -20px;
    border-bottom: 5px solid #e96324;
    border-left: 5px solid #e96324;
}

.img-main-atan {
    padding-left: 20px;
    padding-top: 10px;
}

.img-main-httm {
    padding-left: 20px;
    padding-top: 10px;
}

.img-divide-child:first-child {
    padding-bottom: 12px;
    padding-right: 12px;
}

.img-divide-main-first {
}

.information-devide-second {
    background-color: #e96324;
    height: 376px;
}

.icon-devide {
    text-align: right;
    padding-top: 55px;
    padding-right: 50px;
}

.detail-right {
    padding-right: 20px;
}

.information-devide {
    display: flex;
    justify-content: space-between;
    height: 390px;
    padding-bottom: 12px;
}

.img-divide-child-first {
    background-color: #e96324;
    width: 40%;
    margin-right: 12px;
    position: relative;
}

.img-divide-child-second {
    position: relative;
    width: 25%;
}

.img-divide-child-second {
    margin-right: 12px;
}

.information-detail {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 75px;
}

.image-devide {
    width: 100%;
    height: 100%;
}

.information-devide-first {
    height: 376px;
    margin-right: 12px;
}

.img-divide-child {
    width: 30%;
    height: 100%;
    margin-right: 12px;
    position: relative;
}

.information-devide-second {
    margin-top: 12px;
}

.image-divide {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.text-type {
    font-size: 16px;
    font-family: bold;
    color: #ffffff;
    line-height: 22px;
}
.image-slider .image-item {
    transition: ease 0.5s all;
    transform: scale(0.8);
}
.image-slider .slick-center {
    transform: scale(1);
    transition: ease 0.5s all;
}
.hd-box-text {
    opacity: 0;
    transition: ease 0.5s all;
}
.image-slider .slick-center .hd-box-text {
    opacity: 1;
    transition: ease 0.5s all;
}

.menu {
    display: none;
}
body {
    font-family: "Montserrat", sans-serif !important;
}
/* End Liên hệ */
@media only screen and (max-width: 48em) {
    /* ------- */
    .gap-50 {
        padding-top: 30px;
    }
    .content__text--large {
        font-size: 22px;
        line-height: 30px;
    }
    .content__text--medium {
        font-size: 20px;
    }
    .section-tongquan {
        background-size: cover;
        height: 910px;
    }
    .tongquan-img img {
        width: 100%;
        padding: 0;
    }
    .section-thongtin {
        padding: 30px 0;
    }
    .cs-box-text {
        top: 30%;
    }
    .cs-button a {
        font-size: 14px;
    }
    .ss-thongtin-icon i {
        font-size: 40px;
        margin-top: 40px;
    }
    .ss-thongtin-content {
        padding-left: 0;
    }
    .section-chinhsach {
        padding: 30px 0;
    }
    .chinhsach-gt {
        margin-bottom: 30px;
    }
    .box-collapse .cs-box-image:first-child {
        margin-bottom: 30px;
    }
    .hd-box-text {
        padding: 15px 50px;
    }
    .section-profile .img-profile img {
        width: 100%;
    }

    .footer-main {
        display: grid;
    }
    .footer-left {
        padding: auto;
        width: 100%;
        display: grid;
    }
    .footer-right {
        padding: auto;
        width: 100%;
        display: grid;
        margin-top: 110px;
    }
    .footer-main {
        padding: 50px 15px;
    }
    .content-right {
        padding: 0;
    }
    .logo-left {
        text-align: center;
    }
    .text-content p {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 30px;
        display: flex;
    }
    #footer {
        background: linear-gradient(to bottom, #e96324 50%, #202122 50%, #202122 50%);
    }
    .navbar {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        flex-direction: column;
        z-index: 10000;
        background-color: #202122;
        padding: 0;
        height: 0;
        transition: all linear 0.2s;
        overflow: hidden;
    }

    .navbar li {
        padding: 15px;
        width: 100vw;
        margin: 0%;
        border: 1px solid #525353;
    }
    .navbar > li:hover {
        background-color: #e96324;
    }
    .submenu {
        background-color: #202122;
        padding: 0;
        height: 0;
    }
    .box-banner {
        height: 650px;
    }
    .box-banner .item img {
        height: 650px !important;
    }
    .content-banner {
        text-align: right;
        top: 30%;
        width: 65%;
        right: 0;
        left: unset;
        bottom: unset;
    }
    .content__text--xxlarge {
        font-size: 19px;
        line-height: 30px;
    }
    .content-banner p {
        text-align: right;
        font-size: 16px;
        font-weight: 300;
    }
    .banner-button a {
        font-size: 12px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        left: 115px;
        margin-left: -10px;
        top: 95% !important;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        right: unset;
        margin-right: -10px;
        top: 95% !important;
        left: 190px;
    }
    .logo {
        width: 145px;
    }
    .logo img {
        width: 100%;
    }
    .box-banner-img img {
        width: 100%;
    }
    .box-banner-img {
        width: 50%;
    }
    .button-white {
        font-size: 14px;
    }
    .content__title {
    margin-bottom: 30px;
    text-align: left;
    }
    .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;

    }
    .gt-tongvon {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .section-gt-kcn .section-bg{
        background: rgb(233 99 36 / 90%);
    }
    .gt-content {
        padding-right: 0px;
    }
    .section-gt-kcn {
        height: 1490px;
    }
    .gallery--content-left {
        padding-right: 0;
    }
    .gallery--content-right {
        padding-left: 0;
    }
    .border-right {
        border-bottom: solid #d9d9d9 2px;
        border-right: unset;
    }
    .section-p50 {
        padding: 30px 0;
    }
    .pad-right-30 {
        padding-right: 0;
    }
    .box-img-dongluc{
        margin-bottom: 30px;
    }
    .title-except {
        width: 100%;
        margin: auto;
        text-align: left !important;
    }
    .list-company {
        display: grid;
    }
    .text-address {
        padding: 0;
    }
    .section-nguoncung {
        padding: 30px 0;
    }
    .box-img-nguoncung {
        padding-left: 0;
    }
    /* ------- */
    .gap-70 {
    padding-top: 45px;
}
    .gap-30 {
        padding-top: 15px;
    }
    .cdt-xd--left {
        padding-right: 0;
        border: unset;
    }
    .cdt-xd--right {
        padding-left: 0;
    }

    .lvkd-title {
        margin-top: 15px;
    }

    .section-cdt .width-100 {
        padding: 10px;
    }
    .section-tt-hd .width-100 {
        padding: 10px;
    }
    .content__image--right::after {
        display: block;
        content: "";
        width: 100px;
        height: 50px;
        position: absolute;
        top: -5px;
        right: -5px;
        border-top: 3px solid #e96324;
        border-right: 3px solid #e96324;
    }

    .content__image--left::after {
        display: block;
        content: "";
        width: 100px;
        height: 50px;
        position: absolute;
        bottom: -5px;
        left: -5px;
        border-bottom: 3px solid #e96324;
        border-left: 3px solid #e96324;
    }
    .content__image--bottom-right::after {
        display: block;
        content: "";
        width: 100px;
        height: 50px;
        position: absolute;
        bottom: -5px;
        right: -5px;
        border-bottom: 3px solid #e96324;
        border-right: 3px solid #e96324;
    }
    .title-lvkd {
        padding-top: 30px;
    }
    /* Tin tuc  */
    .tt-box--left {
        padding-right: unset;
    }
    .hd-sk-box {
        padding-top: 20px;
        padding-bottom: unset;
    }
    .tt-pagination {
        padding-right: 0;
        text-align: left;
    }

    .section-cs-2 {
        padding-bottom: 30px;
    }

    .cs-box {
        margin-top: 10px;
    }

    .cs-box--first {
        margin-top: -80px;
    }
    .tt-box--right {
        margin-bottom: 20px;
    }

    .menu {
        display: block;
    }
}
