.container-width,
.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1300px;
}
#header {
    background: #202122;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.navbar li:first-child {
    margin-left: 0 !important;
}
.navbar li:last-child {
    margin-right: 0 !important;
}
.navbar {
    margin-bottom: 0;
}
.navbar li {
    list-style: none;
    margin: 0 15px;
}
.navbar li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar li a:hover {
    color: #e96324;
}
.lang {
    text-align: right;
}
#footer {
    position: relative;
    background: linear-gradient(to right, #e96324 50%, #202122 50%, #202122 50%);
}
.footer-main {
    display: flex;
    color: #fff;
    padding: 70px 0;
}
.footer-left {
    padding: auto;
    width: 50%;
    display: flex;
}
.footer-right {
    width: 50%;
    float: right;
    display: flex;
}
.content-right {
    padding: 0 40px;
}
.content-right h3 {
    font-size: 20px;
}
.text-content p {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 20px;
    display: flex;
}
.text-content i {
    margin: 5px 10px 0 0;
}
.row {
    margin-left: auto;
    margin-right: auto;
}
.clear-fix {
    clear: both;
}
.uppercase {
    text-transform: uppercase;
}
.justify {
    text-align: justify;
}

.section-content {
    background-color: #202122;
}
/* color */
.color--orange {
    color: #e96324;
}

.color--white {
    color: #ffffff;
}

.color--black {
    color: #202122;
}

/* font */
.font-bold {
    font-weight: bold;
}

/* text */
.content__title {
    margin-top: 84px;
    margin-bottom: 84px;
    text-align: center;
}

.content__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.content__text--small {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.content__text--large {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
}

.content__text--medium {
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
}
